.advantages {
    margin-top: 94px;
    margin-bottom: 94px;
    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #AFB1B8;
        gap: 30px;
    }
    &__item {

    }
    &__box {

    }
    &__title {

    }
    &__text {

    }
}