.navigation {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    margin-right: 300px;

    &__list {
        display: flex;
        list-style: none;
        text-decoration: none;

    }
    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $brand-color-black;
        text-decoration: none;
        margin-right: 46px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;

            &__active-line {
                    color: $brand-color-blue;
                    position: relative;

                    &navigation__active-line::after{
                        content: "";
                        display: inline-block;
                        width: 100%;
                        left: 0;
                        margin-top: 45px;
                        position: absolute;
                        border-bottom: solid 4px $brand-color-blue;
                        border-radius: 2px;
                    }
                }

        &:is(:hover, :focus) {
            color: $brand-color-blue
        }
    }
}

